body{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    height: 100vh;
    background-color: black;
    background-position: center;
    background-size:cover;
}
.navbar{
    width: 100%;
    height:70px;
    margin: auto;
}
.icon{
    width: 200px;
    height:60px;
    float: left;
}
.logo{
    color: orange;
    font-size: 30px;
    font-family:Arial;
    float: left;
    text-align: center;
    margin-left: 10px;
}
.menu{
    width: 400px;
    height:70px;
    float: left;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    text-align: center;
}
ul li{
    list-style: none;
    margin-top: 15px;
    margin-left: 27px;
    font-size: 20px;
}
ul li a{
    text-decoration:none;
    color: white;
    font-family: Arial;
    font-weight: bold;
}
ul li a:hover{
    color:orange;
}
.search{
    width:400px;
    height: 70px;
    float: left;
    margin-left: 200px;
}
.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 2px solid orange;
    margin-top: 20px;
    border-radius: 30px;
    font-size: 20px;
    color: orange;
}
.search button{
    width:100px;
    height: 40px;
    border: 2px solid orange;
    border-radius: 30px;
    font-weight: bold;
}
button:focus{
    outline:blue;
}
.content{
    width: 1200px;
    height: auto;
    margin: auto;
    position: relative;
    color: #fff;
    display: grid;
    margin-top: 40px;
}
.content .par{
    padding-left:20px;
    font-family: arial;
}
.content h1{
    font-family: 'Times New Roman';
    padding-left: 20px;
    font-size:50px;
    margin-top: 9px;
}
.content .cn{
    width: 120px;
    height: 50px;
    background-color: orange;
    border-radius:30px;
    font-size: 20px;
}
.content .cn a{
    text-decoration: none;
    cursor: pointer;
    color: #000;
    font-weight: bold;
}
.cn:hover{
    background-color:aliceblue;
}
.content span{
    color:orange;
}
.content .form{
    position: absolute;
    width:400px;
    height:50vh;
    margin-left: 700px;
    margin-top:10px;
}
.content input{
    font-family: 'Times New Roman';
    width: 300px;
    height: 40px;
    background: transparent;
    border: 2px solid orange;
    margin-top: 20px;
    border-radius: 30px;
    font-size: 20px;
    color: orange;
}
.content .btn{
    width: 90px;
    height: 40px;
    background-color: orange;
    border-radius:10px;
    font-size: 20px;
    margin-top: 10px;
}
.content .btn a{
    text-decoration: none;
    color: #000;
}
.content .btn:hover{
    background-color:aliceblue;
    cursor: pointer;
}
.form h3{
    font-family:arial;
    font-weight: bold;
    color: orange;
}
@media screen and (max-width:1200px) {
    .navbar{
        width: 100%;
        height: 100px;
    }
}
